body{
    margin: 0;
    padding: 0;
    font-family: 'Times New Roman', Times, serif;
    background: linear-gradient(rgba(0,0,0,0.5),rgba(1, 63, 5, 0.76)), url("../CSS/WP.jpg");
    height: 100vh;
    overflow: hidden;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

.center{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    background: white;
    border-radius: 5px; 
}

.center h1{
    text-align: center;
    padding: 0 0 20px 0;
    border bottom: 1px solid silver;
}

.center form{
    padding: 0 40px;
    box-sizing: border-box;
}

form .txt_field{
    
}