
/* background of login */ 
.selector {
    background-color: #E5E9F2;
    opacity: 0.8;
    width: 1440px;
    height: 881px;
  }
  .login_feild_label {
    width: 100%;
    color: #fff;
    font-size: 12px;
    font-weight: 100;
}