<!DOCTYPE html>

<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
        
        <link rel="stylesheet" href="/CGMcommstyle.css">
        
        <!-- Tab Icon-->
        <link rel="shortcut icon" href="/favicon.ico">
        
        <title>CREP - Delete User Page</title>
     </head>

     <body> 

        <img src= "/image.png" class="logo">
        <nav> 
            <h2>C R E P</h2>
                <ul>
                    <li><a href="/adminHP">Home</a></li>
                
                </ul>
        </nav>

       <div class="container mt-5">
           <form action="auth/Duser" method="POST">
            <div class="mb-3">
                <label for="email" class="form-label">Email address:</label>
                <input type="email" class="form-control" id="email" name="email" placeholder="name@example.com">
            </div>            
            <center> 
            <button class="button" type="submit" name="submit">delete</button>              
            </center>
            </form>
            
       </div>
            {{#if message}}
                <h4 class="alert alert-danger mt-4">{{message}}</h4>
            {{/if}}
     </body>
</html>