<!DOCTYPE html>
<html lang="en">

<head>
   <meta charset="UTF-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <link rel="stylesheet" href="../researcher-signup.css">
   <title>Document</title>
</head>

<body>
   <div id="But">
      <button onClick="SIS()">Student Researcher</button>
      <button onClick="SOS()">Organization Researcher</button>
   </div>

   <script>
      function SIS() {
         x.style.display = "block";
         z.style.display = "none";
      }
      function SOS() {
         x.style.display = "block";
         y.style.display = "block";
         z.style.display = "none";
         U.style.display = "none";
      }</script>
</body>

</html>