<!DOCTYPE html>
<html lang="en">

<head>
   <meta charset="UTF-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>Researcher page</title>
   <link rel="stylesheet" href="../home-page.css">

   <!-- Tab Icon-->
   {{!--
   <link rel="shortcut icon" href="..//CSS/favicon.ico"> --}}

</head>

<body>
   <header>

      <section id="create">

         <img src="../image.png" class="logo">

         <center>
            <br /><br />
            <form action="./researcher-signup">
               <button class="transparent" onclick="location.href='./researcher-signup';">
                  Signup
               </button>
            </form>
            <br>
            <form action="">
               <button class="transparent" onclick="location.href='';">
                  Login
               </button>
            </form>
         </center>

   </header>

</body>

</html>