<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/HomePage.css">
        
        <!-- Tab Icon-->
        <link rel="shortcut icon" href="..//CSS/favicon.ico">
        
        
        <title>HomePage</title>
     </head>
     <body> 
         <center>
            <h2> Home Page </h2>            
              <br /><br />
              <button class="transparent" onclick="location.href='';"> Reqests </button>
              <br>              
              <button class="transparent" onclick="location.href='';"> Contact </button>
         </center>
        

     </body>
</html>