<!DOCTYPE html>
<html lang="en">

<head>
   <meta charset="UTF-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet"
      integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
   <!-- Tab Icon  ,,, copy first 2 lines for bootstrap css-->
   <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet"
      integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
   <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0"
      crossorigin="anonymous"></script>
   <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

   <!-- Tab Icon-->
   <link rel="shortcut icon" href="../favicon.ico">
   <link rel="stylesheet" href="/SRhomepagestyle.css">
   <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
   <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
   <link rel="stylesheet" type="text/css" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
   <script>
      function toggle(source) {
         checkboxes = document.getElementsByName('foo');
         for (var i = 0, n = checkboxes.length; i < n; i++) {
            checkboxes[i].checked = source.checked;
         }
      }
     // var expanded = false;

      /* function showCheckboxes() {
          var checkboxes = document.getElementById("checkboxes");
          if (!expanded) {
             checkboxes.style.display = "block";
             expanded = true;
          } else {
             checkboxes.style.display = "none";
             expanded = false;
          }
       }*/
      /*$(document).ready(function () {
         $('#ingredients').multiselect();
      });*/
   </script>
   <title>CREP - New Request</title>
</head>

<body>

   <img src="/image.png" class="logo">
   <nav>
      <h2>C R E P</h2>
      <ul>
         <li><a href="/SRhomepage">Home</a></li>
         <li><a href="/">Log Out</a></li>
      </ul>
   </nav>
   <div class="container mt-4">
      <div class="card">
         <div class="card-header">
            <div class="tab-content" id="nav-tabContent">

               <form action="auth/SRaddnewrequest" method="POST">
                  <div class="form-group">
                     <label for="projectTitle">Project title</label>
                     <input type="text" class="form-control" id="projectTitle" name="projectTitle">
                  </div>

                  <div class="form-group">
                     <label for="researchArea">Research area: </label>
                     <br>
                     <select name="researchArea" id="researchArea">
                        <option selected value="base">Please Select Research area</option>
                        <option value="earlyChildhood">Early childhood</option>
                        <option value="specialEducation">Special education</option>
                        <option value="educationalLeadership">Curriculums</option>
                     </select>
                  </div>

                  <div class="form-group">
                     <label for="advisorsName">Advisors name</label>
                     <input type="text" class="form-control" id="advisorsName" name="advisorsName" required>
                  </div>

                  <div class="form-group">
                     <label for="advisorsEmail">Advisors email</label>
                     <input type="email" class="form-control" id="advisorsEmail" name="advisorsEmail" required>
                  </div>


                  <div class="form-group">
                     <label for="url">Add a URL to the study tool</label>
                     <input type="text" class="form-control" id="url" name="url" required>
                  </div>

                  <div class="form-group">
                     <label for="targetAudience">Target audience</label>
                     <input type="text" class="form-control" id="targetAudience" name="targetAudience" required>
                  </div>


                  {{!-- <div class="form-group">
                     <label for="educationalDirectorates">Educational directorates</label>
                     <input type="text" class="form-control" id="educationalDirectorates" name="educationalDirectorates"
                        required>
                  </div> --}}


                  <div class="form-group">
                     <span class="anchor">Educational directorates</span><br>
                     <ul class="items">
                        <input type="checkbox" onClick="toggle(this)" /> Toggle All<br />
                        <input type="checkbox" name="edu" id="educationalDirectorates"
                           value="GM-Office@riyadhedu.gov.sa">
                        Education Dept. Al-Riyadh<br />
                        <input type="checkbox" name="edu" id="educationalDirectorates" value="jouf-edugm@moe.gov.sa">
                        Education
                        Dept. Al-Jouf<br />
                        <input type="checkbox" name="edu" id="educationalDirectorates" value="othman424@gmail.com">
                        Education
                        Dept. Alhudud Ash Shamaliyah<br />

                     </ul>
                  </div>
                  <br><br>
                  {{!--
                  <div id="list1" class="dropdown-check-list" tabindex="100">
                     <form action="">
                        <span class="anchor">Select Fruits</span>
                        <ul class="items">
                           <li><input type="checkbox" />Apple </li>
                           <li><input type="checkbox" />Orange</li>
                           <li><input type="checkbox" />Grapes </li>
                           <li><input type="checkbox" />Berry </li>
                           <li><input type="checkbox" />Mango </li>
                           <li><input type="checkbox" />Banana </li>
                           <li><input type="checkbox" />Tomato</li>
                        </ul>
                     </form>
                  </div> --}}

                  {{!-- <form>
                     <div class="multiselect">
                        <div class="selectBox" onclick="showCheckboxes()">
                           <select>
                              <option>Select an option</option>
                           </select>
                           <div class="overSelect"></div>
                        </div>
                        <div id="checkboxes">
                           <label for="one">
                              <input type="checkbox" id="one" />First checkbox</label>
                           <label for="two">
                              <input type="checkbox" id="two" />Second checkbox</label>
                           <label for="three">
                              <input type="checkbox" id="three" />Third checkbox</label>
                        </div>
                     </div>
                  </form>
                  <br>
                  --}}
                  {{!-- <ul class="dropdown-menu checkbox-menu allow-focus">
                     <li>
                        <label>
                           <input type="checkbox"> Cheese
                        </label>
                     </li>
                  </ul>
                  <select name="ingredients[]" id="ingredients" multiple="multiple">
                     <option value="cheese">Cheese</option>
                     <option value="tomatoes">Tomatoes</option>
                     <option value="mozarella">Mozzarella</option>
                     <option value="mushrooms">Mushrooms</option>
                     <option value="pepperoni">Pepperoni</option>
                     <option value="onions">Onions</option>
                  </select>

                  --}}

                  <button type="submit" class="btn btn-primary">Submitt</button>
               </form>

            </div>

         </div>
      </div>
      {{#if message}}
      <h4 class="alert alert-danger mt-4">{{message}}</h4>
      {{/if}}
   </div>
   <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0"
      crossorigin="anonymous"></script>

</body>

</html>