nav {
  background-color: rgb(0, 97, 97);
  color: whitesmoke;
  padding: 30px 60px;
  display: flex;
  justify-content: space-between;
  overflow: hidden;
}

.logo {
  width: 100px;
  position: absolute;
  top: 2%;
  left: 0%;
}
.top_menu {
  width: 100%;
  height: auto;
}

.container {
  background-color: rgba(202, 202, 202, 0.226);
  padding: 50px 50px 50px 50px;
  border-radius: 2mm;
}

h2 {
  font-size: 45px;
  text-shadow: black;
  padding: 0px 0px 0px 30px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

p {
  font-size: 16ex;
  font-family: Arial, Helvetica, sans-serif;
}

h1 {
  font-weight: bolder;
  font-family: Arial, Helvetica, sans-serif;
}

nav ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

nav li {
  list-style: none;
  float: left;
  font-size: 18px;
  color: white;
  text-align: center;
  text-decoration: none;
}

nav li a {
  color: white;
  text-decoration: none;
  font-weight: bold;
  padding: 5px 8px;
  transition: 0.1s ease-in-out;
}

nav li a:hover {
  color: rgba(255, 255, 255, 0.582);
  text-decoration: solid;
  background-color: rgb(1, 73, 73);
  padding: 5px 8px;
  border-radius: 3mm;
}

.dropdown-submenu {
  position: relative;
}

.dropdown-submenu > .dropdown-menu {
  top: 0;
  left: 100%;
  margin-top: -6px;
  margin-left: -1px;
  -webkit-border-radius: 0 6px 6px 6px;
  -moz-border-radius: 0 6px 6px;
  border-radius: 0 6px 6px 6px;
}

.dropdown-submenu:hover > .dropdown-menu {
  display: block;
}

.dropdown-submenu > a:after {
  display: block;
  content: " ";
  float: right;
  width: 0;
  height: 0;
  border-color: transparent;
  border-style: solid;
  border-width: 5px 0 5px 5px;
  border-left-color: #ccc;
  margin-top: 5px;
  margin-right: -10px;
}

.dropdown-submenu:hover > a:after {
  border-left-color: #fff;
}

.dropdown-submenu.pull-left {
  float: none;
}

.dropdown-submenu.pull-left > .dropdown-menu {
  left: -100%;
  margin-left: 10px;
  -webkit-border-radius: 6px 0 6px 6px;
  -moz-border-radius: 6px 0 6px 6px;
  border-radius: 6px 0 6px 6px;
}

.usrname {
  list-style: none;
  float: left;
  font-size: 18px;
  font-weight: bold;
  color: whitesmoke;
}